{% extends 'base.html' %}

{% import 'helpers/forms.html' as forms %}


{% block title %}
  Add Product
{% endblock %}


{% block body %}
  <div class="row">

    <div class="col col-12 col-md-8 col-lg-6">
      <form method="post">
        <div class="mb-3">
          <label
            for="product-name-id"
            class="form-label"
          >Visitor name:</label>
          {{ forms.input('visitor-name', id='visitor-name-id', placeholder="Desktop") }}
          <div id="visitor-name-help" class="form-text">New visitor to show on visitors list</div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-lg btn-outline-primary">Create</button>
        </div>
      </form>
    </div> <!-- /col form -->

    <div class="my-3 col">
      <div class="alert alert-info" role="alert">
        Add a visitor to the website. The name has to be unique.
      </div>
    </div>

  </div>

  <hr>
  <a href="{{ url_for('visitor_app.list') }}">back to visitors list</a>

{% endblock %}